﻿@using TicTacToeMVC.Models
@model ActualBoard

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["ModelData"] = Model;
    TempData.Keep();
    ViewBag.Title = "Game";
}

    <div class="panel-default">
    <div class="panel-heading text-center">
        <h3>Tic-Tac-Toe</h3>
    </div>
        <div style="height:120px"></div>
    @using (Html.BeginForm())
    {
        <div class="container text-center">
            <div class="row">
                <input type="submit" class="btn btn-default text-center" id="1" name="btn1" value="@TempData["btn1"]"/>
                <input type="submit" class="btn btn-default text-center" id="2" name="btn2" value="@TempData["btn2"]">
                <input type="submit" class="btn btn-default text-center" id="3" name="btn3" value="@TempData["btn3"]">
            </div>
            <div class="row">
                <input type="submit" class="btn btn-default text-center" id="4" name="btn4" value="@TempData["btn4"]">
                <input type="submit" class="btn btn-default text-center" id="5" name="btn5" value="@TempData["btn5"]"/>
                <input type="submit" class="btn btn-default text-center" id="6" name="btn6" value="@TempData["btn6"]">
            </div>
            <div class="row">
                <input type="submit" class="btn btn-default text-center" id="7" name="btn7" value="@TempData["btn7"]">
                <input type="submit" class="btn btn-default text-center" id="8" name="btn8" value="@TempData["btn8"]">
                <input type="submit" class="btn btn-default text-center" id="9" name="btn9" value="@TempData["btn9"]"/>
            </div>
        </div>
    }
    </div>
