﻿@{
    ViewBag.Title = "Game result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading text-center panel-success">
    <h3>Game over</h3>
</div>

<div class="panel-body text-center">
    <div style="height:200px">
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="btn btn-danger" style="font-size:xx-large;margin:10px">
                @Html.ActionLink("Restart", "Game", "Game", null, new { style = "text-decoration:none;color:white" })
            </div>
        </div>
    </div>
</div>


