﻿@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Game result";
    ViewBag.Result = Model;
}

<div class="panel-heading text-center panel-success">
    <h3>Game over</h3>
</div>

<div class="panel-body text-center">
    <div style="height:100px">
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="jumbotron text-center" style="border-radius: 10px;color:black;">
                <h2>@ViewBag.Result</h2>
            </div>
        </div>
        <div class="row text-center">
            <label style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><h4>Enter your name</h4></label>
        </div>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                @using (Html.BeginForm("Result", "Game", FormMethod.Post))
                { 
                <input class="form-control" id="ex2" type="text" name="result">
                <input type="submit" class="btn btn-info" value="Save your score" style="margin-top:10px;margin-bottom:10px" />
                }
            </div>
        </div>
        <div class="row">
            <div class="btn btn-danger" style="font-size:xx-large;margin:10px">
                @Html.ActionLink("Restart", "Game", "Game", null, new { style = "text-decoration:none;color:white" })
            </div>
        </div>
    </div>
</div>

