﻿@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
    <style>
        .btn-default {
            width: 60px;
            height: 60px;
            font-size: xx-large;
            margin: 5px;
        }

            .btn-default:hover {
                flood-color:greenyellow;
                lighting-color:red;
                background:#90f652;
            }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
